{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
	<h2>Calendar</h2>
  <div class="alert alert-primary" role="alert">
    <ul>
      <li>
        Course agenda is not final.
        Notebooks are subject to change without notice until class date.
      </li>
      <li>
        Some links may fail; they serve as placeholders until material is finalized.
      </li>
      <li>
        Unless otherwise specified, all lectures are on Sunday 15:45-18:15, Room C.B02.
      </li>
    </ul>
  </div>

<div class="table-responsive">
<table class="table table-hover">
  <tr class="active">
    <th scope="col">Event</th>
    <th scope="col">Date</th>
    <th scope="col">Description</th>
    <th scope="col">Course Materials</th>
  </tr>
  <tbody>        
	{% for event in this.children %}
		<tr 
    {% if event.title.startswith('A') and event.title.endswith('Due') %}class="table-warning"
    {% elif not event.title.startswith('Lecture') %}class="table-danger"
    {% endif %}
    >
          <td scope="row">{{ event.title|e }}</td>
          <td>
            {% if event.date %}
          	{{ event.date.strftime('%A') }}<br>
          	{{ event.date.strftime('%B %d') }}
            {% endif %}
          </td>
          <td>
            <b>{{ event.name|e }}</b><br>
            {{ event.description }}
          </td>
          <td>
            {{ event.materials }}
          </td>
        </tr>
	{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}
