body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.header {
  background: #082A4F;
  color: #f4f3f3;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header a {
  color: #f4f3f3;
  text-decoration: none;
}
.navbar {
  background-color: #082A4F;
  color: #f4f3f3;
}
h1 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
h2 {
  font-size: 25px;
  font-weight: 300;
}
.lhead {
  font-weight: normal;
  margin-top: 5px;
}
.litem {
  margin-top: 5px;
}
/*#footer {
  height: 250px;
  padding-top: 50px;
  text-align: center;
  position: relative;
}*/
.instructorphoto img {
  width: 120px;
  border-radius: 120px;
  margin-bottom: 10px;
}
.instructor {
  display: inline-block;
  width: 120px;
  text-align: center;
  margin-right: 20px;
}
.img-hover:hover {
  opacity: 0.8;
}
.sec {
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.tt {
  color: #060;
  display: inline-block;
}

#inputlayer {
  width: 65px;
}
.layer {
  width: 35px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 5px;
}
.actmap {
  display: block;
  border: 2px solid #FFF;
}
#convnetvis {
  text-align: center;
}
#probsdiv {
  
}
.pp {
  color: white;
  text-align: left;
  padding: 5px;
  height: 32px;
  margin: 2px;
  background-color: rgb(85,187,85);
  overflow: visible !important;
}
.qq {
  color: #060;
}
.qa {
  font-style: italic;
}
.qqa {
  margin-bottom: 20px;
}
.spanh {
  font-weight: normal;
}
.sechighlight {
  background-color: #f7f6f1;
}
#coursedesc {
  text-align: justify;
}
/*#footermsg {
  color: #333;
  margin: 20px;
}*/
#classicons {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.brand-right {
  height:50px; 
  margin-right: 40px;
  margin-top: 20px;
  float: right; 
  /*-webkit-filter: invert(1);
  filter: invert(1);*/
}
.brand-left {
  height:50px; 
  margin-left: 40px;
  margin-top: 20px;  
  float: left;   
  /*-webkit-filter: invert(1);
  filter: invert(1);*/
}
footer {
    padding: 25px 0;
    /*font-size: x-small;*/
    text-align: center;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #f5f5f5;
}

p.copyright {
    margin: 5px 0 0;
}

.btn-course {
  margin-right: 50px;
}
.btn-div {
  padding:40px 0px 40px 20px;
}
